
*{
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color: #333;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-image: url(pexels-donaldtong94-55787.jpg);
    background-position: center center;
    background-size: cover;
}

button{
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: 0.3rem 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
&:hover{
    background-color: #102f5e;
}
}

i{
    color: #102f5e;
    font-weight: bold;
    pointer-events: none;
&hover{
    color: #fff;
}
}

input, select{
    padding: 0.25rem 0.5rem;
}

.hiden{
    display: none;
}

/* Todo header */

.todo-container{
    max-width: 450px;
    margin: 3rem auto;
    background-color: #ccdde0d5;
    padding: 1rem;
    border-radius: 8px;
}

.todo-container h1{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 2px solid white;
}

/* Todo Form */

#todo-form, #edit-form{
    padding: 1rem;
    border-bottom: 2px solid white;
}

#edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control{
    display: flex;
}
.form-control input{
    margin-right: 0.3rem;
}
#cancel-edit-btn{
    margin-top: 1rem;
}
/*  Todo toolbar */
.toolbar {
    padding: 1rem;
    border-bottom: 2px solid white;
    display: flex;
}
.toolbar h4{
    margin-bottom: 0.5rem;
}
#search{
    border-right: 2px solid white;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}
#search form{
    display: flex;
    gap: 0.3rem;
}