@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

header{
    text-align: center;
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-weight: 100;
    padding-top: 25px;
    color: whitesmoke;
}

section{
    width: 390px;
    border: 1px solid grey;
    padding: 12px;
    border-radius: 4px;
}
#task{
    height: 40px;
    width: 300px;
    border-radius: 8px;
    background-color: whitesmoke
}
#task[placeholder]{
    padding-left: 15px;
}

#button{
    font-weight: bolder;
    font-size: 1rem;
    width: 45px;
    margin-left: 15px;
    padding: 13px;
    border-radius: 50%;
    background-color: rgb(59, 59, 59);
    border: transparent;
    &:hover{
        cursor: pointer;
        color: white;
    }
}
li{
    list-style-type: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(59, 59, 59);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ol{
    color: whitesmoke;
    margin-top: 10px;
    padding: 10px;
}